<h1>Listing Places</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Rating</th>
      </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place) %></td>
        <td><%= place.city %></td>
        <td><%= place.state %></td>
        <td><%= place.zip %></td>
        <td><%= place.phone %></td>
        <td><siv class='average_<%= place.id %>'></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <%= link_to 'New Place', new_place_path, class: 'btn btn-primary' %>
<% end %>

<script>
    <% @places.each do |place| %>
      $(".average_<%= place.id %> ").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: '<%= place.total_average %>',
      readOnly: true
    });
  <% end %>
</script>
