<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @place.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @place.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @place.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @place.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @place.twitter %>
</p>

<p>
  <strong>Google:</strong>
  <%= @place.google %>
</p>

<p>
  <strong>Yelp:</strong>
  <%= @place.yelp %>
</p>

<p>
  <strong>Bbb:</strong>
  <%= @place.bbb %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @place.user_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
