<script type="text/javascript">

  var map;
  var myCenter = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

  function initMap() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: myCenter,
      zoom: 13
    });
    var marker = new google.maps.Marker({
      position: myCenter,
      map: map,
    });
  }
</script>
<div class="row">

  <div class="col-md-3">
    <div id="map-canvas" style="width: 100%; height:230px"></div>
    <h3><%= @place.name %></h3>
    <div class="average"></div>
    <p>
      <strong>Address</strong>
      <%= @place.address %> <br>
      <%= @place.city %>, <%= @place.state %> <%= @place.zip %>
    </p>
    <p>
      <strong>Phone</strong>
      <%= @place.phone %>
    </p>
    <p>
      <strong>Website</strong>
      <%= @place.website %>
    </p>
    <p>
      <strong>Description</strong>
      <%= @place.description %>
    </p>
  </div>


  <div class="col-md-9">
    <h3>Reviews by People</h3>
    <%= render 'reviews/form' %>
    <h5>All Reviews</h5>
    <%= render @reviews %>

  </div>
</div>
<script>
<% @reviews.each do |review| %>
    $(".score_<%= review.id %> ").raty({
    starOn: "<%= image_path('star-on.png') %>",
    starOff: "<%= image_path('star-off.png') %>",
    score: '<%= review.score %>',
    readOnly: true
  });
<% end %>

$(".average ").raty({
    starOn: "<%= image_path('star-on.png') %>",
    starOff: "<%= image_path('star-off.png') %>",
    score: '<%= @place.total_average %>',
    readOnly: true
  });
</script>
